certifi==2021.10.8
charset-normalizer==2.0.11
coloredlogs==15.0.1
humanfriendly==10.0
inflect==5.4.0
pyreadline3==3.4.1
PyYAML==6.0
requests==2.30.0
ruamel.yaml.clib==0.2.7
ruamel.yaml==0.17.26
urllib3==2.0.7
yamale==4.0.4
APScheduler~=3.10.1
Flask~=2.3.2
jsonschema~=4.17.3
Flask-APScheduler
dataclasses_json