[Unit]
Description=One-shot execution of Emby to Anilist tracking sync

[Service]
Type=oneshot
User=YOUR_USER
Group=YOUR_USER
WorkingDirectory=YOUR_EMBYANYSYNC_FOLDER_PATH
ExecStart=/usr/bin/python3 /YOUR_EMBYANYSYNC_FOLDER_PATH/EmbyAniSync.py
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
